.modal__content_type_image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 16px;
  padding: 0;
}

.modal__image {
  max-width: 100%;
  height: 498px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.modal__close {
  z-index: 1000;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff; /* Ensure there is a background */
  color: #000; /* Ensure text is visible */
  z-index: 10;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  color: rgba(0, 0, 0, 1);
  gap: 12px;
  border-radius: 16px;
  margin-left: 32px;
  padding: 28px 28px 36px;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin: 0;
}

.modal__footer_card {
  display: flex;
  justify-content: space-between;
}

.delete__items {
  max-width: 100%;
  margin-right: 32px;
  border: none;
  background-color: transparent;
  color: rgba(255, 77, 0, 1);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
}

@media (max-width: 600px) {
  .modal__image {
    width: 90%;
  }
}
