.modal__content_type_image {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 16px;
}

.modal__image {
  max-width: 100%;
  height: auto;
}

.modal__close {
  z-index: 1000;
}

.modal__footer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fff; /* Ensure there is a background */
  color: #000; /* Ensure text is visible */
  z-index: 10;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  color: rgba(0, 0, 0, 1);
  gap: 12px;
}

.modal__caption {
  margin: 0;
}

.modal__weather {
  margin: 0;
}

@media (max-width: 600px) {
  .modal__image {
    width: 90%;
  }
}
